@{
    ViewBag.Title = "Car";
}

<div class="jumbotron">
   <img src="https://previews.123rf.com/images/thor83/thor831610/thor83161000010/67462811-car-symbols-silhouette-auto-company-dealer-vehicle-logo-vector-icon.jpg" width="950" height="300"/>
    <h1>Cars Details</h1>
    <p class="lead">Hello. Here you can find car details like make , model, color, number of seats and etc...  </p>
    <p>code available here :   <a href="https://github.com/A4803/COMP2084---Assignment-1" class="btn btn-primary btn-lg">&raquo;</a></p>
</div>

    